body
{
  font-size: 2em !important;
  font-family: Helvetica, sans-serif !important;
  background-color: white !important;
  background-image: url(img/DevOpsGray.png) !important;
  background-attachment: fixed !important;
  background-position: 90% 82% !important;
  background-size: 584px 413px !important;
  background-repeat: no-repeat !important;
}

img#slant
{
  position: fixed !important;
  right: 0px !important;
  top: 0px !important;
  z-index: 8 !important;
  margin: 0px !important;
  visibility: visible !important
}

#slide0 h1
{
  color: #cc3300 !important;
  background: transparent !important;
}

.slide
{
  box-shadow: 0px 0px 3px 0px #eeefee;
  bottom: 0px !important;
  right: 0px !important;
  border: solid #eeefee;
  margin: 10px;
  z-index: 7 !important;
  width: auto !important;
  height: auto !important;
}

.slide h1
{
  padding: 0.3em 0 0 0 !important;
  white-space: nowrap !important;
  text-transform: none !important;
  color: #cc3300 !important;
  background: transparent !important;
}

.slide h1 .single
{
  position: fixed;
  top: 50% !important;
  font-size: 130% !important;
}

.slide ol
{
  margin-left: 5% !important;
  margin-right: 7% !important;
}

.slide ul ol
{
  line-height: 1 !important;
}
.slide ul ol li
{
  margin: .2em !important;
  font-size: 85% !important;
}

.slide .narrow li
{
  height: .3em;
}

div#header, div#footer
{
  color: #eef !important;
  font-family: Helvetica, sans-serif !important;
  z-index: 0 !important;
}

div#header
{
  
  position: fixed;
  bottom: 0px !important;
  right: 0px !important;
  margin: 20px;
  width: auto !important;
  height: 3.6em !important;
  background: linear-gradient(#e2e2e2, white) !important;
}

div#footer
{
  background-color: white !important;
  background-image: url(img/initab.png) !important;
  background-position: 10px 50% !important;
  background-size: 56px 53px !important;
  background-repeat: no-repeat !important;
  padding-left: 65px !important;
  color: #02488c !important;

  position: fixed;
  bottom: 0px !important;
  right: 0px !important;
  margin: 10px;
  width: auto !important;
  height: auto !important;
}

div#footer a:link
{
  color: #02488c !important;
}

a:link, a:visited
{
  text-decoration: none;
  color: #02488c !important;
}

.incremental, .incremental *, .incremental *:after
{
  color: #aaa !important;
}

.slide .grey
{
  color: #aaa !important;
}

#controls #navList
{
  height: 1em !important;
}

#controls #navLinks a
{
  background: #fff !important;
  color: #02488c !important;
}

img.align-bottom
{
  float: right !important
}

img.illustration
{
  position: inherit;
  bottom: 100px;
  left: 100px;
  max-width: 300px;
  max-height: 250px;
  width: auto !important;
  height: auto !important;
  border-style: none;
  background: transparent;
  z-index: -1;
}

img.single
{
  position: inherit;
  top: 200px;
  left: 200px;
  min-width: 50%;
  max-height: 80%;
  width: auto !important;
  height: auto !important;
  border-style: none;
  background: transparent;
  z-index: -1;
}

.external:after
{
  content: none !important;

}
#plink
{
  position: fixed;
  bottom: 30px;
  text-align: center;
  font-size: 0.5em;
  color: #02488c !important;
}

/* the TODO-list table */

table, td
{
  border: 0;
  cell-spacing:0;
  border-spacing:0;
  padding:0;
  margin:0;
  vertical-align: middle;
}
td p
{
  border: 10px;
  border-style: solid;
  line-height: 80px;
  margin: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  vertical-align: middle;
  background: white;
}
td p.a { border-color: red; border-bottom-color: transparent}
td p.b { border-color: orange; border-bottom-color: transparent}
td p.c, td p.h
{
  border-color: green;
  border-left-style: none;
  border-right-style: none;
  padding-left: 1.5em;
  background-image: url(img/angle.png) !important;
  background-size: 39px 100% !important;
  background-repeat: no-repeat !important;
  }
td p.h { color: grey; }
td p.d { border-color: blue; border-top-color: transparent}
td p.e { border-color: magenta; border-top-color: transparent}
td p.f
{
  border-color: transparent;
  border-style: none;
  background-image: url(img/angle2.png) !important;
  background-size: 39px 100% !important;
  background-repeat: no-repeat !important;
  color: transparent;
  line-height:100px;
}
td p.g
{
  border-color: yellow;
  noborder-right-color: transparent;
  display: inline-block;
  height: 100%;
}
tr,td
{
  height: 100%;
}
